* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-family: "Montserrat", "Arial", sans-serif;
	font-size:22px;
}


header {
	background: #373c3f; 
	color: white;
  height: 98px;
	overflow: hidden;
}
.mobile{
	display: none;
}  
nav ul {
	float: left;
	list-style: none;
	padding: 0;
}

nav  li {
	display: inline-block;
}
nav li + li {margin-right: 1vw }

.menu{
	float:left;
	color:inherit;
	font-size: 1rem;
	text-decoration: none;
	padding: 3vw 0.5vw;
}

.menu:hover {
	color: #66697e;
} 
.banner { 
	overflow: hidden;
	height: 55vw;
	background-color: #078aa4;
}

.banner h1 {
	color: white;
	font-size: 2rem;
	padding: 15vw 2vw 0vw 2vw;
}
.banner p {
  color: #90d5df;
	font-size: 1rem;
	padding: 5vw 2vw 0vw 2vw;

}	

.column {
	overflow: hidden;
  font-size: 0;
}
.textBox {
	background-color: #27212c;
	height: 22vw;
}
.textBox p{
	float:left;
	width:70vw;
	height: 12vw; 
	margin: 5vw 1vw;
	font-size: 1rem;
	color:#9282a0;
}

.next{
	float:right;
	width:22vw;
	height: 22vw;
  background-image: url(images/pinkarrow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
figure {
	float: left;
  width: 33.333%;
}
img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.content {

	background-color: #ebebeb;
}
.content h2{
	padding: 3vw;
	color:#088ca5;
	font-size: 2rem;
}
article{
  float:left;
  width:50%;
	padding-top: 2rem;
	font-size: 0.63rem;
	padding: 3vw;
}

@media screen and (max-width: 640px) { 
html {
	font-size:15px;
}	
header{
  height: 11vw;	
}
.mobile {
  display: block;
}
.menuButton{
  height: 11vw;		
  width: 11vw;		
  float: right;
  background-image: url(images/menuBtn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header ul{
  display: none;	
}	

figure, article {
	float: none;
  width: 100%;
}
article {
font-size: 1.3rem;
}
}
@media screen and (max-width: 320px) { 
html {
	font-size:10px;
}	
}